input[type="text"], input[type="tel"], input[type="email"]{
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: lighten($black, 40%);
    background: lighten($black, 95%);
    &:focus {
        color: lighten($black, 35%);
        background: lighten($black, 85%);
      }
}

.button {
    outline: none;
    background: $oragen;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: $white;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
  }